body {
	max-width: 1920px;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}

.title {
	font-family: 'Inter';
	font-style: normal;
	font-size: 28px;
	font-weight: 200;
	padding: 56px 0px;
	margin: 0;
}


h3 {
	font-size: 1.5rem;
}

/* NAV */
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.name {
	height: auto;
	width: 173px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nav li {
	padding-inline: 10px;
	width: auto;
}


.nav a {
	text-decoration: none;
	color: #000;
}

a {
	width: 60px;
	height: 17px;
}

.social-link img {
	width: 20px;
}

.instagram {
	width: 20px;
	height: 20px;
}

/*CAROUSEL*/

.carousel {
	height: 666px;
}

.carousel-inner, .carousel-item {
	height: 100%;
}
.carousel-item img {
	height: 100%;
	object-fit: cover;
}

.carousel-control-prev-icon {
	width: 32px;
	height: 32px;
}


.carousel-control-next-icon {
	width: 32px;
	height: 32px;
}

/*ABOUT*/

#about {
	position: relative;
	display: flex;
	gap: 30px;
	width: 100%;
	background-color: #F6D2B8;
	padding: 100px;
}



.picture {
	width: 400px;
	height: 400px;
	z-index: 1;
}

.picture img {
	width: 400px;
	height: 400px;
	z-index: 1;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

strong {
	font-weight: normal;
	font-family: 'Spectral';
    font-weight: 800;
    font-style: italic;
}


.about-me__title {
	margin-top: 0;
	font-size: 30px;
	font-weight: 200;
}

.about-me__introduction {
	margin-bottom: 15px;
	font-family: 'Spectral';
    font-weight: 800;
    font-style: italic;
	font-size: 16px;
}

.about-me__text {
	font-size: 14px;
}

.about-me__text strong {
	font-weight: normal;
    font-style: normal;
	font-family:'Inter';
	font-size: 14px
}
/*GALLERY*/

#gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 70px;
}

.container {
	width: 100%;
	height: auto;
}

.nav {
	display: flex;
	justify-content: center;
}

.gallery .nav {
	justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #BEB45A;
}
.nav-pills .nav-link {
	color: #000
}

.item-column {
	margin-bottom: 0 !important;
	padding: 0;
}

.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 0.4em;
}

.gallery-items-row {
	display: flex;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}


.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.modal.show .modal-dialog, .modal-content, .modal-body {
	max-width: 480px;

}


.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}

#gallery .quote {
	width: 75%;
}
.quote__text {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 300;
	font-size: 40px;

}
.quote__author {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
}

/*SERVICES*/

#services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}


#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

.service__description h3 strong, .service__description p  strong {
	font-weight: normal;
	font-family: 'inter';
    font-style: normal;
}

/*CONTACT LIST*/

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 400px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

.schema-org {
	text-align: center;
	margin-top: 70px;
	z-index: 2;
}

.schema-org p {
	margin-bottom: 0;
}

/* TABLET */
@media (max-width: 1024px) {

	/*ABOUT */
	#about {
		flex-direction: column;
		align-items: center;
	}
	.about-me__title {
		text-align: CENTER;
	}

	.picture {
		width: 330px;
		height: 330px;
	}
	
	.picture img {
		width: 330px;
		height: 330px;
	}

	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}

	/*GALLERY */
	#gallery {
		padding: 0 30px;
	}

	#gallery .quote {
		padding: 0;
		margin-bottom: 68px;
	}

	/*QUOTE*/
	.quote {
		padding: 48px 30px;
	}

	/* SERVICES */

	#services .container::before {
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	/*CONTACT*/

	#contact {
		flex-direction: column;

	}

	#contact .container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#contact .picture.right {
		margin-top: 1em;
	}

	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

/* MOBILE */
@media (max-width:767.98px) {

	.title {
		font-size: 22px;
		z-index: 2;
	}

	/*HEADER*/
	.top-header {
		width: 100%;
		flex-direction: column;
		padding: 30px 0;

	}
	.nav {
		width: 100%;
	}

	.nav ul {
		padding-left: 0;	
	}

	.nav li {
		padding: 14px 10px;
	}

	/*CAROUSEL */

	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 30px;
		height: 30px;
	}

	.carousel-control-next-icon {
		width: 90%;
	}


	/*ABOUT*/

	#about {
    	max-width: 100%;
		background-color: #F6D2B8;
		padding: 32px;
		flex-direction: column;
		align-items: center;
	}

	.picture {
		width: 290px;
		height: 290px;
	}
	
	.picture img {
		width: 290px;
		height: 290px;
	}

	.picture.left::before, .picture.right::before {
		height: 150px;
	}

	/*GALLERY*/

	#gallery {
		padding: 0;
	}

	.gallery {
		width: 100%;
	}

	.gallery ul {
		margin:0;
		padding: 0;
	}
	.gallery .nav li {
		padding-top: 0;
		padding-bottom: 0;
	}	

	#gallery .quote, .quote {
		margin: auto;
		width: 70%;
		padding: 48px 0 48px 0;
	}

	.quote figure {
		margin:0;
	}

	.quote__text {
		font-size: 26.8px;
		font-weight: 300;
	}

	/*SERVICE*/

	#service {
		padding: 12px 16px;
		width: 100%;
	}
	#services .container {
		flex-direction: column;
		max-width: 540px;
		padding: 0;
		margin: 0;
		gap: 64px;
	}

	.service {
		width: 768px;
		height: auto;
		max-width: 90%;

	}

	#services .container {
		align-items: center;
		margin-bottom: 64px;
	}

	#contact {
		padding: 32px;
	}

	.form-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	form {
		width: 100%;
	}

	.picture.right {
		width: 185px;
		height: 185px;
	}

	.picture.right img {
		width: 185px;
		height: 185px;
	}

	.header, .carousel, .carousel-inner, .carousel-item {
		height: 350px;
	}
	.carousel-item img{
		object-fit: cover;
	}
}


